<footer class="footer mt-auto py-3 bg-dark text-center fixed-bottom">
    <span class="text-muted text-center">LET'S NOT MEET YET <i class="fas
            fa-virus blink-image"></i> 2021</span>
    <span><a href="#" class="link-top d-none">
      <i class="fas fa-arrow-up"></i></i>
    </a></span>
    </div>
</footer>