<div class="container">
    <div class="text-center py-5">
        <h3>Welcome to</h3>
        <h1 class="fw-bold py-3">LET'S N<i class="fas fa-virus"></i>T MEET YET</h1>
        <h4 class="text-muted">Meet other Ironhacker's.</h4>
        <h4 class="text-muted">But remember... you can't meet yet!</h4>
        <img class="main-logo img-fluid py-3" src="./img/LNMY_logo.png">
    </div>
</div>