<div class="container">
    <div class="text-center py-5">
        <h3>Access <strong>Let's N<i class="fas fa-virus"></i>t Meet Yet</strong>
            community</h3>
        {{#if succesMessage}}
        <div class="alert alert-success mt-5" role="alert">
            {{succesMessage}}
        </div>
        {{/if}}
        {{#if errorMessage}}
        <div class="alert alert-danger mt-5" role="alert">
            {{errorMessage}}
        </div>
        {{/if}}
        <form class="pt-5" action="/login" method="POST">
            <div class="row mb-3 d-flex justify-content-center">
                <label for="inputUsername" class="col-sm-2 col-form-label">E-mail</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" id="inputUsername"
                        name="email" value="{{username}}" required>
                </div>
            </div>
            <div class="row mb-3 d-flex justify-content-center">
                <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control"
                        id="inputPassword" name="password" required>
                </div>
            </div>
            <button type="submit" class="btn btn-dark mt-3 mb-5">Log in</button>
        </form>
        <div>
            <h5>Other authentication options:</h5>
            <a href="/authenticate/google"><button type="text" class="btn btn-danger mt-3 mb-5 mx-2"><i class="fab fa-google"></i> Log in with Google</button></a>
            <a href="/authenticate/facebook"><button type="text" class="btn btn-primary mt-3 mb-5 mx-2"><i class="fab fa-facebook"></i> Log in with Facebook</button></a>
        </div>
    </div>
</div>