<div class="container">
  <div class="mx-3">
    <h3 class="pt-3 pb-3">User map</h3>
    
    <div id="map" class="row mb-3"></div>

    <script>
      let userLocations = {{{ json userLocations }}}
    </script>
    <script
      src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
    <script src="/js/mainMap.js"></script>

    <script async
      src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initMap">
    </script>
  </div>
</div>