@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0.5;
    }
    100% {
        opacity:1;
    }
}

.blink-image {
    -moz-animation: blink normal 4s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 4s infinite ease-in-out; /* Webkit */
}

body {
    font-family: 'Exo 2', sans-serif;
}

footer {
    position: fixed;
    height: 56px;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 450px;
    max-height: 450px;
}

.img-thumbnail {
    max-width: 106px;
    max-height: 106px;
}

a {
    text-decoration: none;
}

.main-logo {
    max-width: 275px;
}

#map {
    height: 400px;
}

.homeLink {
    text-decoration: none;
    color: #000000;
}

.homeLink:hover {
    text-decoration: none;
    color: #000000;
}

.homeLinkDiv:hover {
    opacity: 1;
    border: 1px solid lightgrey;
}

.homeLinkDiv {
    opacity: 0.6;
}

.logoutLink:hover {
    opacity: 0.5;
}

.link-top {
	height: 30px;
	width: 30px;
	display: flex;
	position: fixed;
	bottom: 15px;
	right: 15px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: #212529;
	background-color: #343a40;
	z-index: 10000;
}
.link-top i:hover {
    opacity: 1;
    color: #000000;
}

.link-top i {
    opacity: 0.5;
}

.link-top:hover {
    color: #000000;
}

.userLink {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.d-none {
    display:none!important
}