@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body {
    font-family: 'Exo 2', sans-serif;
}

footer {
    position: fixed;
    height: 56px;
    bottom: 0;
    width: 100%;
}

img {
    max-width: 450px;
    max-height: 450px;
}

a {
    text-decoration: none;
}

.main-logo {
    max-width: 300px;
}

.homeLink {
    text-decoration: none;
    color: #000000;
}

.homeLink:hover {
    text-decoration: none;
    color: #000000;
}

.homeLinkDiv:hover {
    opacity: 1;
    border: 1px solid lightgrey;
}

.homeLinkDiv {
    opacity: 0.6;
}