<div class="container">
    <div class="text-center py-5">
        <h3>PROFILE</h3>
        <h1 class="fw-bold py-3">LET'S N<i class="fas fa-virus"></i>T MEET YET</h1>
        <i class="fas fa-virus fa-10x py-5"></i>
    </div>
</div>